/* skills.css */

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    background-color: transparent; /* Set background color to transparent */
}

.skill {
    width: 250px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    background-color: rgba(249, 249, 249, 0.1); /* Set a very transparent background color */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.skill-bar {
    width: 100%;
    height: 8px;
    background-color: #eee;
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
}

.skill-points {
    height: 100%;
    border-radius: 4px;
}

.skill-level {
    margin-top: 10px;
    font-weight: bold;
}

.subtopics {
    margin-top: 10px;
}

.skill-html {
    border: 2px solid #e44d26; /* HTML color */
    color: #e44d26; /* Set text color to match HTML color */
}

.skill-css {
    border: 2px solid #2965f1; /* CSS color */
    color: #2965f1; /* Set text color to match CSS color */
}

.skill-js {
    border: 2px solid #f0db4f; /* JavaScript color */
    color: #f0db4f; /* Set text color to match JavaScript color */
}

.skill-react {
    border: 2px solid #61dafb; /* React color */
    color: #61dafb; /* Set text color to match React color */
}

.skill-next {
    border: 2px solid #000000; /* Next.js color */
    color: #000000; /* Set text color to match Next.js color */
}

/* Adjust the skill points color based on level */
.skill-beginner .skill-points {
    background-color: #ff6f61; /* Red color for beginner */
}

.skill-intermediate .skill-points {
    background-color: #fdbc40; /* Orange color for intermediate */
}

.skill-advanced .skill-points {
    background-color: #4caf50; /* Green color for advanced */
}

/* Updated styles for the header */
#header {
    background-color: #3498db; /* Blue color for the header */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

#header p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Add styles for the iframe-container */
#iframe-container {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    margin-top: -530px; /* Adjust the negative margin to position it behind the main text */
    z-index: -1; /* Ensure the iframe is behind the main content */
}
